@import url("https://fonts.googleapis.com/css?family=Open+Sans&subset=latin-ext");

body
{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  padding: 0;
  margin: 0;
}

.container
{
  width: 970px;
  margin: 0 auto;
}

.text-center, header, footer
{
  text-align: center;
}

nav.main ul
{
  border-top: 2px solid #6341a5;
  display: block;
  padding: 0 !important;
  margin: 0 !important;
  list-style-type: none;
}

nav.main ul li
{
  display: inline-block;
  margin-left: -4px;
  width: 25%;
}

nav.main ul li a
{
  text-align: center;
  display: block;
  color: #000;
  font-size: 20px;
  padding: 15px 35px 15px 35px;
  text-decoration: none;
}

nav.main ul li a:link,
    nav.main ul li a:visited
{
  color: #000;
}

nav.main ul li a:hover
{
  text-decoration: none;
  padding: 15px 35px 13px 35px;
  border-bottom: 2px solid #7d5bbe;
}

nav.main ul li.active
{
  text-decoration: none;
  background-color: #8b6dc5;
  transition: background-color, color 0.5s;
}

nav.main ul li.active a
{
  color: #fff;
}

nav.main ul li:first-child
{
  margin-left: 0;
  width: calc(25% - 4px);
}

nav.main ul li:last-child
{
  clear: both;
}

.newsContainer div:last-child
{
  clear: both;
}

.newsContainer .newsSection,
.newsContainer .sidebarSection
{
  float: left;
  box-sizing: border-box;
  padding: 5px;
}

.newsContainer .newsSection
{
  width: 80%;
}

.newsContainer .sidebarSection
{
  width: 20%;
  padding: 5px;
  text-align: center;
}

.newsContainer .sidebarSection .section
{
  padding: 10px 0 10px 0;
  margin-top: 5px;
  border-left: 2px solid #7d5bbe;
}

.newsContainer .sidebarSection img.social
{
  width: 50%;
}

.newsContainer .sidebarSection #dateContainer
{
  color: #8b6dc5;
}

.newsContainer .news
{
  border-bottom: 1px solid #7d5bbe;
  padding-bottom: 15px;
}

.newsContainer .news p
{
  border-left: 2px solid #7d5bbe;
  padding-left: 5px;
}

.newsContainer .news h3
{
  text-align: center;
}

.newsContainer .news span
{
  display: block;
  font-size: 70%;
}

.newsContainer .news:last-child
{
  border: none;
}

main
{
  margin: 15px 0 15px 0;
}

.formContainer
{
  margin-top: 30px;
  width: 55%;
  float: left;
}

.formContainer form input[type="text"]
{
  width: 485px;
}

.formContainer form textarea
{
  width: 485px;
  resize: none;
  margin: 5px 0 0 0;
  padding: 1px;
}

.formContainer form input[type="submit"],
  .formContainer form input[type="reset"]
{
  width: 485px;
  margin: 0;
  padding: 20px;
  border: none;
  background-color: white;
  border: 2px solid #9a80cc;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

.contactContainer
{
  float: left;
}

p.desc
{
  padding: 20px 10px 20px 10px;
  text-align: justify;
}

.gallery img
{
  width: 50%;
  float: left;
}

footer
{
  clear: both;
}

footer .container
{
  margin-top: 20px;
  border-top: 2px solid #7d5bbe;
}
