$basePurple: rgb(125, 91, 190);
$purpleLight1: lighten(rgb(125, 91, 190),5%);
$purpleLight2: lighten(rgb(125, 91, 190),10%);
$purpleDark1: darken(rgb(125, 91, 190),5%);
$purpleDark2: darken(rgb(125, 91, 190),10%);
@import url('https://fonts.googleapis.com/css?family=Open+Sans&subset=latin-ext');

body
{
   font-family: 'Open Sans', sans-serif;
   font-size: 20px;
   padding: 0;
   margin: 0;
}

.container
{
   width: 970px;
   margin: 0 auto;
}

.text-center
{
   text-align: center;
}

header
{
   @extend .text-center;
}

nav.main
{
   ul
   {
      border-top:2px solid $purpleDark2;
      display: block;
      padding: 0 !important;
      margin: 0 !important;
      list-style-type: none;

      li 
      {
         display: inline-block;
         margin-left: -4px;
         width: 25%;
         a 
         {
            text-align: center;
            display: block;
            color: #000;
            font-size: 20px;
            padding: 15px 35px 15px 35px;
            text-decoration: none;

         }
         
         a:link,
         a:visited,
         {
            color: #000;
         }
         
         a:hover
         {
            text-decoration: none;
            padding: 15px 35px 13px 35px;
            border-bottom: 2px solid $basePurple;
         }
      }
      
      li.active
      {
         a
         {
            color: #fff;
         }
         text-decoration: none;
         background-color: $purpleLight1;
         transition: background-color, color 0.5s; 
      }
      
      li:first-child
      {
         margin-left: 0;
         width: calc(25% - 4px);
      }
      
      li:last-child
      {
         clear: both;
      }
   }
}
.newsContainer
{
   div:last-child
   {
      clear: both;
   }
   
   .newsSection,
   .sidebarSection
   {
      float: left;
      box-sizing: border-box;
      padding: 5px;
   }
   
   .newsSection
   {
      width: 80%; 
   }
   
   .sidebarSection
   {
      width: 20%;
      padding:5px;
      text-align: center;
      
      .section
      {
         padding: 10px 0 10px 0;
         margin-top: 5px;
         border-left: 2px solid $basePurple;
      }
      
      img.social
      {
         width: 50%;
      }
      
      #dateContainer
      {
         color: $purpleLight1;
      }
   }
   
   .news
   {
      
      border-bottom: 1px solid $basePurple;
      padding-bottom: 15px;
      
      p
      {
         border-left: 2px solid $basePurple;
         padding-left: 5px;
      }
      
      h3
      {
         text-align: center;
      }
      
      span
      {
         display: block;
         font-size: 70%;
      }
      
   }
   
   .news:last-child
   {
      border: none;
   }
}

main
{
   margin: 15px 0 15px 0;
}

.formContainer
{
   margin-top: 30px;
   width: 55%;
   float: left;
   
   form
   {
      
      input[type="text"]
      {
         width: 485px;
      }
      
      textarea
      {
         width: 485px;
         resize: none;
         margin: 5px 0 0 0;
         padding: 1px;
      }
      
      input[type="submit"],
      input[type="reset"],
      {
         width: 485px;
         margin: 0;
         padding: 20px;
         border: none;
         background-color: white;
         border: 2px solid $purpleLight2;
         border-radius: 5px;
         margin-bottom: 10px;
         cursor: pointer;
      }
   }   
   
   
}
.contactContainer
{
   float: left;
}

p.desc
{
   padding: 20px 10px 20px 10px;
   text-align: justify;
}
.gallery
{
   
   img
   {
      width: 50%;
      float: left;
   }
   
}
footer
{
   
   clear: both;
   @extend .text-center;
   .container
   {
      margin-top: 20px;
      border-top: 2px solid $basePurple;
   }
   
   
}
